body{

}

.xo{
	margin-left: 27%;
	margin-top: 20%;
}

.xo1{
	margin-left: 27%;
	margin-top: 30%;
}
.xo2{
	margin-left: 27%;
	margin-top: 40%;
}


.item{
	width: 15%;
	height: 100px;
	background: green;
	margin-left: 10px;
	cursor: pointer;
	float: left;
}

.item1{
	width: 15%;
	height: 100px;
	background: green;
	margin-left: 10px;
	cursor: pointer;
}

.item2{
	width: 15%;
	height: 100px;
	background: green;
	margin-left: 10px;
	cursor: pointer;
}

#item1{

}

#item2{
	
}

#item3{
	
}

#item4{
	float: left;
}

#item5{
	float: left;
}

#item6{
	float: left;
}

#item7{
	float: left;
}


#item8{
	float: left;
}

#item9{
	float: left;
}

#h1{
	font-size: 0em;
    margin-left: 15%;
    margin-top: -14%;

}

#h2{
font-size: 0em;
    margin-left: 15%;
    margin-top: -14%;

}

#h3{
font-size: 0em;
    margin-left: 15%;
    margin-top: -14%;

}

#h4{
	font-size: 0em;
    margin-left: 15%;
    margin-top: -14%;

}

#h5{
	font-size: 0em;
    margin-left: 15%;
    margin-top: -14%;

}

#h6{
	font-size: 0em;
    margin-left: 15%;
    margin-top: -14%;
    box-sizing: border-box;

}

#h7{
	font-size: 0em;
    margin-left: 15%;
    margin-top: -14%;

}

#h8{
	font-size: 0em;
    margin-left: 15%;
    margin-top: -14%;
}

#h9{
	font-size: 0em;
    margin-left: 15%;
    margin-top: -14%;

}

#h10{
	font-size: 0em;
    margin-left: 15%;
    margin-top: -14%;

}

#h11{
	font-size: 0em;
    margin-left: 15%;
    margin-top: -14%;

}

#h12{
	font-size: 0em;
    margin-left: 15%;
    margin-top: -14%;

}

#h13{
	font-size: 0em;
    margin-left: 15%;
    margin-top: -14%;

}

#h14{
	font-size: 0em;
    margin-left: 15%;
    margin-top: -14%;;

}
#h15{
	font-size: 0em;
    margin-left: 15%;
    margin-top: -14%;

}

#h16{
	font-size: 0em;
    margin-left: 15%;
    margin-top: -14%;

}
#h17{
font-size: 0em;
    margin-left: 15%;
    margin-top: -14%;

}

#h18{
	font-size: 0em;
    margin-left: 15%;
    margin-top: -14%;

}